<script>
  renderMathInElement(document.body, {
  macros: {
  "\\adv": "\\mathcal{A}",
  "\\ppt": "\\mathsf{PPT}",
  "\\NN": "\\mathbf{N}",
  "\\RR": "\\mathbf{R}",
  "\\abs": "\\left\\lvert #1 \\right\\rvert",
  "\\bin": "\\{0, 1\\}",
  "\\bottom": "\\perp",
  "\\concat": "||",
  "\\gen": "\\left< #1 \\right>",
  "\\size": "| #1 |",
  "\\negl": "\\mathsf{negl}",
  "\\defeq": "\\coloneqq",
  "\\poly": "\\mathsf{poly}",
  "\\secpar": "\\lambda",
  "\\secparam": "1^\\secpar",
  "\\set": "\\{#1\\}",
  "\\eval": "\\mathsf{Eval}",
  "\\1" : "\\mathbb{1}",
  "\\tag": "\\pod\\text",
  },
  delimiters: [
  {left: "$$", right: "$$", display: true},
  {left: "$", right: "$", display: false}
  ],
}
  );
</script>

<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>{{ site.gpgkey }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3" centre>
        <iframe src="//crypto.stanford.edu/flashproxy/embed.html" width="80" height="15" frameborder="0" scrolling="no"></iframe>
	<script type="text/javascript"
		src="https://panzi.github.io/Browser-Ponies/basecfg.js" id="browser-ponies-config"></script>
	<script type="text/javascript" src="https://panzi.github.io/Browser-Ponies/browserponies.js" id="browser-ponies-script"></script>
	<script type="text/javascript" src="{{base}}/~orru/js/ponies.js"></script>
	<br/>
	<a href="javascript:togglePonies()">Ponies</script>
      </div>
    </div>
  </div>
</footer>
