    <script>
    macros["\\adv"] = "\\mathcal{A}";
    macros["\\ppt"] = "\\mathsf{PPT}";
    macros["\\NN"] = "\\mathbf{N}";
    macros["\\RR"] = "\\mathbf{R}";
    macros["\\abs"] = "\\left\\lvert #1 \\right\\rvert";
    macros["\\bin"] = "\\{0, 1\\}";
    macros["\\bottom"] = "\\perp";
    macros["\\concat"] = "||";
    macros["\\gen"] = "\\left< #1 \\right>";
    macros["\\size"] = "| #1 |";
    macros["\\negl"] = "\\mathsf{negl}";
    macros["\\defeq"] = "\\coloneqq";
    macros["\\poly"] = "\\mathsf{poly}";
    macros["\\secpar"] = "\\lambda";
    macros["\\secparam"] = "1^\\secpar";
    macros["\\set"] = "\\{#1\\}";
    macros["\\eval"] = "\\mathsf{Eval}";
    macros["\\1"] = "\\mathbb{1}";
    macros["\\tag"] = "\\pod\\text";
    macros["\\oracle"] = "\\mathcal{O}";
    macros["\\\ibe"] = "\\mathsf{IBE}";
    macros["\\msk"] = "\\textnormal{msk}";
    macros["\\pp"] = "\\textnormal{pp}";
    macros["\\S"] = "\\mathsf{S}";
    macros["\\E"] = "\\mathsf{E}"
    macros["\\X"] = "\\mathsf{X}";
    macros["\\D"] = "\\mathsf{D}",
    macros["\\ct"] = "\\mathsf{ct}"
    macros["\\id"] = "\\mathsf{id}",
    macros["\\sk"] = "\\mathsf{sk}";
    macros["\\sample"] = "\\gets";
    macros["\\verify"] = "\\mathsf{V}";
    macros["\\bool"] = "\\textit{bool}";

var katex_options = {
      macros: macros,
      delimiters: [
	  {left: "$$", right: "$$", display: true},
	  {left: "$", right: "$", display: false},
	  {left: "\\[", right: "\\]", display: true},
      ],
  }
  renderMathInElement(document.body, katex_options);

  var pseudocode_nodes = document.querySelectorAll('.pseudocode code')
  for (i = 0; i < pseudocode_nodes.length; i++) {
    renderMathInElement(pseudocode_nodes[i], katex_options);
  }
</script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146667032-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146667032-1');
</script>

<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>{{ site.gpgkey }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3" centre>
        <iframe src="//crypto.stanford.edu/flashproxy/embed.html" width="80" height="15" frameborder="0" scrolling="no"></iframe>
	<script type="text/javascript"
		src="https://panzi.github.io/Browser-Ponies/basecfg.js" id="browser-ponies-config"></script>
	<script type="text/javascript" src="https://panzi.github.io/Browser-Ponies/browserponies.js" id="browser-ponies-script"></script>
	<script type="text/javascript" src="{{base}}/~orru/js/ponies.js"></script>
	<br/>
	<a href="javascript:togglePonies()">Ponies</script>
      </div>
    </div>
  </div>
</footer>
